[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
pillow = "*"
numpy = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
pandas = "*"
matplotlib = "*"
opencv-contrib-python = "*"
pdf2image = "*"
unidecode = "*"
pymupdf = "*"
pypdf = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.9"
