[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
pillow = "*"
pillow-heif = "*"
numpy = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
natsort = "*"
pandas = "*"
matplotlib = "*"
opencv-contrib-python = "*"
pdf2image = "*"
unidecode = "*"
pymupdf = "*"
pypdf = "*"
jupyter = "*"
scikit-learn = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_version_full = "3.11.4"
